################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
first_sucess
code_secend_sucess

/code-error/out/build/x64-Debug
